openapi: 3.1.0
info:
  title: Open Library Authors Search API
  description: 'Open Library''s public, read-only REST API for searching books, authors,

    and works, retrieving structured records (works, editions, authors,

    subjects), fetching cover images, and pulling recent changes. No

    authentication is required; clients are expected to send a descriptive

    `User-Agent` header to receive a higher per-second rate limit.

    '
  version: 1.0.0
  contact:
    name: Open Library Developer Documentation
    url: https://openlibrary.org/developers/api
servers:
- url: https://openlibrary.org
  description: Open Library production
- url: https://covers.openlibrary.org
  description: Open Library covers service
tags:
- name: Search
paths:
  /search/authors.json:
    get:
      summary: Search authors
      parameters:
      - name: q
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/SearchResults'
      tags:
      - Search
  /search/inside:
    get:
      summary: Full-text search inside books
      parameters:
      - name: q
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/SearchResults'
      tags:
      - Search
components:
  responses:
    SearchResults:
      description: Paginated search results.
      content:
        application/json:
          schema:
            type: object
            properties:
              start:
                type: integer
              num_found:
                type: integer
              docs:
                type: array
                items:
                  type: object
                  additionalProperties: true
